body{
    background-image:url('imagenes/fondo.jpg');
}
.logo{
    position: absolute;
    margin-left: 1%;
    margin-top: 1%;
    
}
.cabeza-titulo{
    font-size: 28px;
    font-weight: bold;
    position:relative;
    margin-left: 110px;
    margin-top: 35px;
    margin-bottom:12px;
    margin-right:50%;
    display:inline-block;
    color: darkblue;
    
}
.imgCandado{
    width: 100%;
    display: inline-block;
}
.principal{
    height:440px;    
 }
.principal li{
    display:inline-block;
    border-radius: 7px;
    }
    .salida{
        padding-left:8%;
        width: 30% ;
        font-size: 22px;
        vertical-align: top;
        border-radius: 6px;
        margin: 1% 1.5% 1% 1%;
        color: darkblue;
          
    }
    .imgmuestra{
        align-items: center;
        width: auto;
        border-radius: 7px;
    }
    .pantallaTexto{
        width: 30%;
        
    }
    .ingresar{
        width: 40%;
        font-size: 22px;
        margin: 1% 1.5% 1% 1%;
        padding: 0 60px 0 0;
        color: darkblue;
                
    }
    #mensaje{
        font-size: 22px;
        margin: 0 1.5% 0 0;
        color: darkblue;
        border: 2px solid darkblue;
        border-radius: 10px;
    }


#mensaje, #resultado {
    margin-left: 12%;
}
.botonLista{
    
    width: 100%;
}
#encriptar, #desencriptar, #copiar{
    width: 25%;
    padding: 15px 0;
    font-size: 14px;
    border: 2px solid darkblue;
    border-radius: 10px;
    transition: 1s all;
    cursor: pointer;
    font-weight: bold;
    margin-top: 2%;
    margin-left: 2%;
    position: relative;
    }
    #encriptar:hover{
        background: rgb(113, 113, 230);
        transform: scale(1.2);
    }
    
    #desencriptar:hover{
        background: rgb(204, 194, 194);
        transform: scale(1.2);
    }
    #copiar:hover{
        background: rgb(204, 194, 194);
        transform: scale(1.2);
    }
    #encriptar{
        margin-left:12%;
    }
    #desencriptar{
        margin-left:27%;
    }
    #copiar{
        margin-left:12%;
    }
    @media screeen and (max-width:480){
        #mensaje {
            width: 80%;
            align-items: center;
             }
             #resultado {
                height: 50%;
                background-color: aqua;
                 }
        .principal li{
        width: 80%;
        display: block;
        margin-left: 10%;
       }
        .divBotones{
           
            display: inline-block;
            position: absolute;
            background-color: aqua;
            align-items: center;
        }
        #encriptar, #desencriptar, #copiar{
            width: 50%;
            margin-left: 300px;
            }
    }
    